.coffee-list {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 50px;

  margin: 0 auto;
  place-content: center;
  padding-bottom: 200px;
}

@media (max-width: 1024px) {
  .coffee-list {
    grid-template-columns: repeat(3, 280px);
    gap: 40px;
  }
}

@media (max-width: 640px) {
  .coffee-list {
    grid-template-columns: repeat(1, 300px);
  }
}
